{% extends "partials/dashboard-base.html" %}
{% load static %}
{% load humanize%}
{% block content %}
    <section class="dashboard-section body-collapse pay step step-2">
        <div class="overlay pt-120">
            <div class="container-fruid">
                <div class="main-content">
                    <div class="head-area d-flex align-items-center justify-content-between">
                        <h4>Request Payment</h4>
                        <div class="icon-area">
                            <i class="fas fa-question-circle fa-2x"></i>
                        </div>
                    </div>
                    <div class="choose-recipient">
                        <div class="step-area">
                            <span class="mdr">Step 2 of 3</span>
                            <h5>Set Amount of request</h5>
                        </div>
                        <div class="user-select">
                            <div class="single-user">
                                <div class="left d-flex align-items-center">
                                    <div class="img-area">
                                        <img src="{{request_account.kyc.image.url}}" style= "width:50px; height:50px; border-radius: 50%; object-fit:cover" alt="profile">
                                    </div>
                                    <div class="text-area">
                                        <p>{{request_account.kyc.full_name}}</p>
                                        <span class="mdr">{{request_account.kyc.email}}</span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="{% url "core:search-user-account"%}">
                                        <i class="icon-g-tick"></i>
                                        Edit
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form action="{% url 'core:amount-request-process' request_account.account_number  %}" method="POST">
                    {% csrf_token %}
                        <div class="send-banance">
                            <span class="mdr">You request (amount)</span>
                            <div class="input-area">
                                <input id="amount-request" name="amount-request" placeholder="Enter Amount to request" type="number">
                                <select>
                                    <option value="1">USD</option>
                                    <option value="2">USD</option>
                                    <option value="3">USD</option>
                                </select>
                            </div>
                        </div>
                        <div class="send-banance pt-0 mt-0">
                            <span class="mdr">Request Description</span>
                                <input name="description" placeholder="ie Requesting money for school fees" type="text">
                        </div>
                        <div class="footer-area mt-40">
                            <a href="{% url "core:search-user-account"%}">Previous Step</a>
                            <button style="padding:10px 30px; border-radiuyou communicacs:10px; background:rgb(98,0,255);color:#fff"  type= "submit"class="active">Next</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
 {% endblock content %}